@import "config/fonts.scss";
@import "config/variable.scss";
@import "config/reset.scss";
@import "./Components/Form.scss";
@import "./config/mixins.scss";
@import "./Components/Navbar.scss";
//Header
// header {}

.nav {
    display: flex;
    padding: 5px 100px;
    align-items: center;
    justify-content: space-between;
    background: $gray;
    position: relative;



    &__tabs {
        display: flex;
        justify-content: space-evenly;

        width: 100%;
        max-width: 200px;


    }
}

//form

//search box

.filter__section {
    padding: 50px 0;
    @include flexCenter;
    background: #FFFFFF;


}

.container-input {
    max-width: 800px;
    width: 100%;
    position: relative;
}

.input--search {
    width: 100%;
    padding-left: 30px;
    border: none;
    border-bottom: 3px solid #dbdbdb;

    &:focus {
        border-bottom: 3px solid black;
    }
}

.btn__add {
    align-self: flex-start;
    margin-top: 15px;
    color: white;
    background: $primary;
}

//section joblist

.joblist__section {
    width: 100%;
    margin-top: 50px;
    padding: 0px 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: white;
    z-index: 2;
    box-shadow: 0px 1px 2px 2px rgba($color: #000000, $alpha: .2);
    padding-bottom: 30px;

    &__header {
        @include flexCenter;
        border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
        width: 100%;
    }

    &__body {
        padding: 30px 4.162%;
        width: 100%;
    }

    &__footer {
        padding: 0px 4.162%;
        width: 100%;
        @include flexCenter;
        justify-content: space-between;
    }

    .status {
        @include flexCenter;
        height: 50px;

        &__item {
            cursor: pointer;
            padding: 12px 0px;
            width: 100px;
            text-align: center;

            &.active {
                border-top: 3px solid black;
            }

            &:hover {
                transform: scale(.95);
                background: $gray;
            }

        }
    }
}


table {
    border-collapse: collapse;

    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    border-left: none;
    border-right: none;
    text-align: center;
    padding: 8px;
}


tr:nth-child(odd) {
    background-color: $gray;
}


.table__action {
    width: 23.3117%
}

.btn {
    padding: 8px 10px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: inherit;


    &:hover {
        transform: scale(.95);
    }

    &__delete {
        @include btnAction($red)
    }

    &__edit {
        @include btnAction($green)
    }

    &__primary {
        @include btnAction($primary);

    }

    img {
        color: white;
    }

    span {
        margin-left: 5px;
        color: white;
        font-size: 1rem;
        font-family: "Poppins", sans-serif;

    }
}


.pagination {
    @include flexCenter;

    .page-item {
        background-color: white;
        width: 30px;
        padding: 2px;
        border: rgba($color: #000000, $alpha: .2) 1px solid;
        text-align: center;
        cursor: pointer;
        outline: none;


        &:not(:first-child) {
            border-left: none;
        }

        &:hover {
            background-color: $gray;
        }

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }


        &.active {
            background-color: $primary;

            a {
                color: white;
            }

            &:hover {
                color: lighten($primary, 10%);
            }
        }

    }
}

//Footer

.footer__section {
    height: 200px;
    width: 100%;
    background-color: $black;
    margin-top: 100px;
    @include flexCenter;
    flex-direction: column;

    p,
    a {
        color: white;
    }



}

.footer__content {
    @include flexCenter;

    p {
        margin: 15px 15px;
    }

    a {
        margin: 0px 5px
    }

    img {
        margin-top: 8px;
    }

}


//modal
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($color: #000000, $alpha: .5);
    z-index: 99;
    height: 100vh;
}


.modal {
    position: fixed;
    width: 100%;
    max-width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0px 0px 5px $gray;
    z-index: 99;
    background: white;


    &__title {
        font-size: 1.5rem;
        justify-self: flex-start;
        margin-bottom: 15px;
    }

    &__close {
        position: absolute;
        right: -2%;
        top: -2%;
        padding: 5px;
        background: $red;
        border-radius: 50%;
        cursor: pointer;

        &-icon {
            color: white;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }


}