@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,900&display=swap');

$primarry:#0B66C2;
$gray:#F3F2EF;
$red:#E33F20;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btnAction($color) {
    background-color: $color;
    @include flexCenter;
    display: inline-flex;
    margin: 0 15px;

    &:hover {
        transform: scale(.95);
        background-color: darken($color, 10%);
    }
}

body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background-color: $gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: black;
}



//Header
// header {}

.nav {
    display: flex;
    padding: 5px 100px;
    align-items: center;
    justify-content: space-between;
    background: $gray;
    position: relative;

    &__title {
        font-size: 2rem;
        color: $primarry;
    }

    &__tabs {
        display: flex;
        justify-content: space-evenly;

        width: 100%;
        max-width: 200px;

        a {
            font-size: 1.2rem;
            color: black;
            font-weight: 500;


            &:hover {
                color: white;
            }
        }

    }
}

//form

.input {
    height: 40px;

    &:focus {
        outline: none;
    }

    &-icon {
        position: absolute;
        left: 0;
        top: 8px;
    }
}

//search box

.filter__section {
    padding: 50px 0;
    @include flexCenter;
    background: #FFFFFF;

}

.container-input {
    max-width: 800px;
    width: 100%;
    position: relative;
}

.input--search {
    width: 100%;
    padding-left: 30px;
    border: none;
    border-bottom: 3px solid #dbdbdb;
    font-size: inherit;

    &::placeholder {
        font-size: 1.2rem;
        font-style: italic;
    }

}

//section joblist

.joblist__section {
    width: 100%;

    margin-top: 50px;
    padding: 0px 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: white;
    z-index: 2;
    box-shadow: 0px 1px 2px 2px rgba($color: #000000, $alpha: .2);

    &__header {
        @include flexCenter;
        border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
        width: 100%;
    }

    &__body {
        padding: 30px 50px;
        width: 100%;
    }

    .status {
        @include flexCenter;
        height: 50px;

        &__item {
            cursor: pointer;
            padding: 12px 0px;
            width: 100px;
            text-align: center;

            &.active {
                border-top: 3px solid black;
            }

            &:hover {
                transform: scale(.95);
                background: $gray;
            }

        }
    }
}


table {
    border-collapse: collapse;

    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    border-left: none;
    border-right: none;
    text-align: center;
    padding: 8px;
}


tr:nth-child(odd) {
    background-color: $gray;
}


.table__action {
    width: 260px;

}

.btn {
    padding: 8px 10px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;


    &:hover {
        transform: scale(.95);
    }

    &__delete {
        @include btnAction($red)
    }

    &__edit {
        @include btnAction(green)
    }

    img {
        color: white;
    }

    span {
        margin-left: 5px;
        color: white;
        font-size: 1rem;
        font-family: "Poppins", sans-serif;

    }
}