.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

    }
}

.input {
    height: 40px;
    padding-left: 5px;
    font-size: inherit;

    &:focus {
        outline: none;
    }

    &-icon {
        position: absolute;
        left: 0;
        top: 8px;
    }

    &::placeholder {
        font-size: 1.2rem;
        font-style: italic;
    }

    &-modal {
        outline: none;

        &:focus {
            border: $primary 1px solid;
        }

        &.error {
            border: $red 1px solid;
        }
    }
}




.error-input {
    color: $red;
    font: inherit;
    font-size: .8rem;
}